{% extends "stats/base.html" %}

{% block content %}

    <div id="games" class="row align-items-md-stretch row-cols-1 row-cols-md-2 g-4">
            
    {% for game in games %}
        {% if game.status == "In Progress" %}
            <div class="col">
                <div class="card card-1" style="background: radial-gradient(#115a3a, #416555);">
                    <h2 class="card__team">{{game.home_team}} &nbsp; {{game.away_team}}</h2>
                    <p>
                        <h3 class="card__time">{{game.home_score}} - {{game.away_score}}</h3>
                    </p>
                    <h6 class="card__apply">
                        <a class="btn  btn-outline-light" >Add Game</i></a>
                    </h6>
                    <h6 class="card__inning">{{game.inning}}th</h6>
                </div>
            </div>
        {% elif game.status == "Scheduled" or game.status == "Pre-Game" %}
            <div class="col">
                <div id="${i}" class="card card-1">
                    <h2 class="card__team">{{game.home_team}} &nbsp; {{game.away_team}}</h2>
                    <p>
                        <h3 style="padding-bottom: 45px;" class="card__time">{{game.time}}</h3>
                    </p>
                </div>
            </div>
        {% else %}
            <div class="col">
                <div id="${i}" class="card card-1">
                    <h2 class="card__team">{{game.home_team}} &nbsp; {{game.away_team}}</h2>
                    <p>
                        <h3 class="card__time">{{game.home_score}} - {{game.away_score}}</h3>
                    </p>
                    <h6 class="card__apply">
                        <a class="card__link btn" href="#">Add Game</i></a>
                    </h6>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    </div>

{% endblock content %}