{% extends "stats/base.html" %}

{% block content %}
<div class="container p-1">
    <div class="p-4">
        <input onchange="getGames()" id="date" type="date" class="form-control">
    </div>
    <div id="games">
    <div class="row align-items-md-stretch row-cols-1 row-cols-md-2 g-4">
    {% for game in games %}
        {% if game.status == "In Progress" %}
            <div class="col">
                <div class="card card-1" style="background: radial-gradient(#ffa939, #fdbb65);">
                    <h2 class="card__team">{{game.home_team}} &nbsp; {{game.away_team}}</h2>
                    <p>
                        <h3 class="card__time">{{game.home_score}} - {{game.away_score}}</h3>
                    </p>
                    <h6 class="card__apply">
                        <a class="btn btn-outline-light" href="{% url 'add' game.game_id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </h6>
                    <h6 class="card__inning">{{game.inning}}th</h6>
                </div>
            </div>
        {% elif game.status == "Scheduled" or game.status == "Pre-Game" or game.status == "Warmup"%}
            <div class="col">
                <div class="card card-1">
                    <h2 class="card__team">{{game.home_team}} &nbsp; {{game.away_team}}</h2>

                    <h3 style="padding-bottom: 45px;" class="card__time">{{game.time }}</h3>

                </div>
            </div>
        {% else %}
            <div class="col">
                <div class="card card-1">
                    <h2 class="card__team">{{game.home_team}} &nbsp; {{game.away_team}}</h2>
                    <p>
                        <h3 class="card__time">{{game.home_score}} - {{game.away_score}}</h3>
                    </p>
                    <h6 class="card__apply">
                        <a class="btn btn-outline-light" href="{% url 'add' game.game_id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </h6>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
    </div>
      
</div>
{% endblock content %}

{% block script %}
<script>
    function getGames(){
        date = document.getElementById('date').value;
        document.getElementById('games').innerHTML = '';
        document.getElementById('status').innerHTML = '<center><lottie-player src="https://assets2.lottiefiles.com/packages/lf20_k0dvn0vb.json"  background="transparent"  speed="0.5"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player></center>';
        fetch('/gamesAtDate/'+date)
            .then(response => response.json())
            .then(data => {
                document.getElementById('games').innerHTML = data.data
                document.getElementById('status').innerHTML = '';
            });
        
    }
</script>
{% endblock script %}