{% extends "stats/base.html" %}

{% block content %}
<div class="container p-1">
    <div class="p-4">
        <input onchange="getGames()" id="date" type="date" class="form-control">
    </div>
    <div id="games">
    <div class="row align-items-md-stretch row-cols-1 row-cols-md-3 g-4 m-2">
        {% for game in games %}
        {% if game.status == "In Progress" %}
            <div class="col">
                <div class="card card-1" style="background: radial-gradient(#ffa939, #fdbb65);">
                    <h2 class="card__team">{{game.home_team}} &nbsp; {{game.away_team}}</h2>
                    <p>
                        <h3 class="card__time">{{game.home_score}} - {{game.away_score}}</h3>
                    </p>
                    <h6 class="card__apply">
                        <a class="btn btn-outline-light" href="{% url 'add' game.game_id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                              </svg>
                        </a>
                    </h6>
                    <h6 class="card__inning">{{game.inning}}th</h6>
                </div>
            </div>
        {% elif game.status == "Scheduled" or game.status == "Pre-Game" or game.status == "Warmup"%}
            <div class="col">
                <div class="card card-1">
                    <h2 class="card__team">{{game.home_team}} &nbsp; {{game.away_team}}</h2>

                    <h3 style="padding-bottom: 45px;" class="card__time">{{game.time }}</h3>

                </div>
            </div>
        {% elif game.status == "Final" or game.status == "Final: Tied"%}
            <div class="col">
                <div class="card card-1">
                    <h2 class="card__team">{{game.home_team}} &nbsp; {{game.away_team}}</h2>
                    <p>
                        <h3 class="card__time">{{game.home_score}} - {{game.away_score}}</h3>
                    </p>
                    <h6 class="card__apply">
                        <a class="btn btn-outline-light" href="{% url 'add' game.game_id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                              </svg>
                        </a>
                    </h6>
                </div>
            </div>
        {% else %}
            <div class="col">
                <div class="card card-1" style="background: radial-gradient(#eb3838, #fc5656);">
                    <h2 class="card__team">{{game.home_team}} &nbsp; {{game.away_team}}</h2>
                    <p>
                        <h3 class="card__time" style="padding-bottom: 45px;">{{game.status}}</h3>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
    </div>
      
</div>
{% endblock content %}

{% block script %}
<script>
    function getGames(){
        date = document.getElementById('date').value;
        document.getElementById('games').innerHTML = '';
        document.getElementById('status').innerHTML = '<center><lottie-player src="https://assets2.lottiefiles.com/packages/lf20_k0dvn0vb.json"  background="transparent"  speed="0.5"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player></center>';
        fetch('/gamesAtDate/'+date)
            .then(response => response.json())
            .then(data => {
                document.getElementById('games').innerHTML = data.data
                document.getElementById('status').innerHTML = '';
            });
        
    }
    
    addEventListener("load", (event) => {
        document.getElementById('date').valueAsDate = new Date();
    });
</script>
{% endblock script %}