{% extends "stats/base.html" %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Casa</th>
                <th scope="col">Fora</th>
                <th scope="col">Resultado</th>
                <th scope="col">data</th>
            </tr>
        </thead>
        <tbody>
    {% for game in games_added %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{game.home.name}}</td>
                <td>{{game.away.name}}</td>
                <td>{{game.home.score}} - {{game.away.score}}</td>
                <td>{{game.date}}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock content %}