{% load tags %}
<div class="p-1 container">
<form class="row g-3" action="/find/list" method="get">
    <div class="col-auto">
        <input class="form-control" name="season" id="season" type="number" min="2022" max="2099" step="1" value="{{season}}" />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-outline-secondary mb-3">Find</button>
    </div>
</form>

<div class="row g-0 pb-5" >
    <div class="card text-bg-light" style="height:450px">
        <div class="overflow-auto" style="height:400px">
    <table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col" class="bg-light-subtle">Home</th>
                <th scope="col" class="bg-light-subtle">Away</th>
                <th scope="col" class="bg-light-subtle">Score</th>
                <th scope="col" class="bg-light-subtle">Date</th>
                <th scope="col" class="bg-light-subtle"> </th>
            </tr>
        </thead>
        <tbody>
    {% for game in games_list %}
            <tr id="tr-{{game.game_id}}">
                <td>{{game.home__name}}</td>
                <td>{{game.away__name}}</td>
                <td>{{game.score_home}} - {{game.score_away}}</td>
                <td>{{game.date}}</td>
                <td>
                    <a href="/game/{{game.game_id}}"><button class="btn btn-outline-success btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                    </button></a>
                    <button class="btn btn-outline-danger btn-sm" onclick="deleteGame({{game.game_id}})">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>

    <nav>
        <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General</a>
        <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-teams" role="tab" aria-controls="nav-teams" aria-selected="false">Teams</a>
        </div>
    </nav>

    <div class="tab-content overflow-auto" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
            <div class="row align-items-md-stretch row-cols-1 row-cols-md-3 g-4 pt-5">
                {% for stat in stats %}
                <div class="col">
                    <div style="text-align: center;" class="card text-bg-light mb-2 pb-5 overflow-auto">
                            <h5 class="card-title">{{stat.title}}</h5>
                            {% if stat.type == "rank"%}
                                {% for v1,v2 in stat.data %}
                                    {{ forloop.counter }} - {{v1}} ({{v2}})<br>
                                {% endfor %}
                            {% elif stat.type == "list" %}
                                {% for v1,v2 in stat.data %}
                                    {{v1}} - {{v2}}<br>
                                {% endfor %}
                            {% else %}
                                <h5>{{stat.data}}</h6>
                            {% endif %}
                    </div>  
                </div>  
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="nav-teams" role="tabpanel" aria-labelledby="nav-teams-tab">
            <div class="row g-0 pb-5" >
            <h4 class="text-center pt-5">Batting</h4>
            <div class="card text-bg-light" style="height:850px">
            
            <div class="table-scroll bg-light-subtle" style="height:800px">
            <table class="table table-striped table-bordered" >
                <thead>
                    <tr>
                        <th scope="col" class="fixed-side table-light" style="z-index: 5;">Team</th>
                    {% for team_name, stats in teams_stats.items %}
                        {% if forloop.counter == 1 %}
                            {% for stat in stats.batting %}
                                
                            <th scope="col" class="bg-light-subtle" title="{{stats_names|get_item_second:stat}}" >{{stats_names|get_item_first:stat}}</th>
                                
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for team_name, stats in teams_stats.items %}
                        <tr>
                            <td class="fixed-side table-light" style="z-index: 4;">{{team_name}}</td>
                            {% for stat, value in stats.batting.items %}
                            <td>{{value}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
        </div>
            </div> 
                <div class="row g-0 pb-5" >
                <h4 class="text-center pt-5">Pitching</h4>
                <div class="card text-bg-light" style="height:850px">
                
                <div class="table-scroll bg-light-subtle" style="height:800px">
                <table class="table table-striped table-bordered" >
                    <thead>
                        <tr>
                            <th scope="col" class="fixed-side table-light" style="z-index: 5;">Team</th>
                        {% for team_name, stats in teams_stats.items %}
                            {% if forloop.counter == 1 %}
                                {% for stat in stats.pitching %}
                                {% if stats_names|get_item_second:stat and stat != "doubles" and stat != "triples" %}
                                <th scope="col" class="bg-light-subtle" title="{{stats_names|get_item_second:stat}}" >{{stats_names|get_item_first:stat}}</th>
                                {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for team_name, stats in teams_stats.items %}
                            <tr>
                                <td class="fixed-side table-light" style="z-index: 4;">{{team_name}}</td>
                                {% for stat, value in stats.pitching.items %}
                                    {% if stats_names|get_item_second:stat and stat != "doubles" and stat != "triples" %}
                                    <td>{{value}}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                </table>
    </div>
    
    </div>
    <div class="row g-0 pb-5" >
        <h4 class="text-center pt-5">Fielding</h4>
        <div class="card text-bg-light" style="height:850px">
        
        <div class="table-scroll bg-light-subtle" style="height:800px">
        <table class="table table-striped table-bordered" >
            <thead>
                <tr>
                    <th scope="col" class="table-light">Team</th>
                {% for team_name, stats in teams_stats.items %}
                    {% if forloop.counter == 1 %}
                        {% for stat in stats.fielding %}
                        {% if stats_names|get_item_second:stat  %}
                        <th scope="col" class="bg-light-subtle" title="{{stats_names|get_item_second:stat}}" >{{stats_names|get_item_first:stat}}</th>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for team_name, stats in teams_stats.items %}
                    <tr>
                        <td class="table-light" style="z-index: 4;">{{team_name}}</td>
                        {% for stat, value in stats.fielding.items %}
                            {% if stats_names|get_item_second:stat %}
                            <td>{{value}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
        </table>
        </div>        
    </div>
</div>
